<div class="toppage-wrapper">
  <div class="container-left">
    <div class="heading-text">
      <h2>ファッ<span>ションを</span><br>
      共有し<span>よう</span></h2>
    </div>
    <div class="heading-image">
      <%= image_tag("blue.jpg") %>
    </div>
    <div class="heading-image-second">
      <%= image_tag("person.jpg") %>
    </div>
    <div class="heading-text-second">
      <h2><span>個性で</span>繋がる<br>
      <span>新しい</span>世界</h2>
    </div>
  </div>
  <div class="login-form container-right">
    <div class="form-logo">
      <h1>Fallery</h1>
      <h2>自慢の服を世界に発信</h2>
    </div>
    <div class="form">
      <%= link_to "ログイン", login_path %>
      <p>または</p>
      <%= link_to "アカウント作成", signup_path %>
    </div>
  </div>
</div>
