@import url('https://fonts.googleapis.com/css?family=Sacramento');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 80px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  background: #fff;
  z-index: 9999;
  .header-left h1 {
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
    margin-top: 20px;
    margin-left: 20px;
  }
  .header-right {
    padding-top: 30px;
    .header-logout {
      a {
        margin-right: 20px;
        color: #000;
        opacity: 0.7;
        font-size: 1.2rem;
        &:hover {
          opacity: 1;
          transition: all 0.2s;
        }
      }
    }
    .header-login {
      a {
        padding: 10px 20px;
        margin-right: 20px;
        border: 1px solid #000;
        border-radius: 20px;
        background: #fff;
        color: #000;
        font-size: 1.2rem;
        &:hover {
          background: #000;
          color: #fff;
          transition: all 0.2s;
        }
      }
    }
  }
}
.container {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}

.content {
  width: 60%;
  min-height: 100vh;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.blank {
  width: 100%;
  height: 80px;
}

.toppage-wrapper {
width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.heading-text {
  position: absolute;
  top: 80px;
  width: 400px;
  padding: 60px 0 0 50px;
  h2 {
    font-size: 3rem;
    font-weight: bold;
    span {
      color: #fff;
    }
  }
}
.heading-image {
  width: 400px;
  padding-left: 195px;
  img {
    width: 100%;
    margin-top: 10px;
  }
}
.heading-text-second {
  position: absolute;
  top: 410px;
  left: 255px;
  width: 400px;
  padding: 60px 0 0 50px;
  h2 {
    font-size: 3rem;
    font-weight: bold;
    span {
      color: #fff;
    }
  }
}
.heading-image-second {
  width: 400px;
  padding-top: 30px;
  padding-left: 50px;
  img {
    width: 100%;
    margin-top: 30px;
  }
}
.login-form {
  width: 300px;
  height: 100%;
  padding: 20px;
  border: #ddd solid 1px;
  border-radius: 10px;
  margin: 120px 50px 0 0;
  .form-logo {
    margin-left: 20px;
    h1 {
      font-family: 'Sacramento', cursive;
      font-size: 5.6rem;
      margin-top: 20px;
    }
    h2 {
      font-size: 1.2rem;;
    }
  }
  .form {
    text-align: center;
    padding: 60px 0 20px;
    a {
      padding: 10px 20px;
      border: 1px solid #000;
      border-radius: 20px;
      background: #fff;
      color: #000;
      font-size: 1.2rem;
      &:hover {
        background: #000;
        color: #fff;
        transition: all 0.2s;
      }
    }
    p {
      padding: 40px;
    }
  }
}

.mypage {
  width: 100%;
}
.profile {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #ddd;
  h2 {
    text-align: center;
    margin-top: 80px;
    font-size: 1.6rem;
    font-weight: bold;
  }
  h3 {
    text-align: center;
    color: #aaa;
  }
  p {
    width: 90%;
    margin: 30px auto 0;
    font-size: 1.4rem;
  }
  .follow {
    text-align: right;
    margin: 20px;
    a {
      font-size: 1.4rem;
    }
  }
}

.profile-header {
  img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
}
.profile-icon {
  position: absolute;
  top: 240px;
  left: 50%;
  transform: translateX(-50%);
  img {
    width: 120px;
    height: 120px;
    border: 5px solid #fff;
    border-radius: 50%;
    box-sizing: content-box;
    object-fit: cover;
  }
}

.posting-list {
  position: fixed;
  top: 0;
  left: 60%;
  width: 360px;
  height: 90vh;
  margin: 20px;
  .inner {
    height: 85%;
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 30%;
  }
}

.form-wrapper {
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 0 auto 50px;
  background: #efefef;
  h1 {
    font-family: 'Sacramento', cursive;
    font-size: 4rem;
    margin: 30px;
    text-align: center;
  }
}

.form-box {
  width: 400px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 30px auto 0;
  background: #fff;
  input, textarea, select {
    width: 100%;
    border: none;
  }
}

.checkbox {
  margin-left: 50px;
  input {
    position: relative;
    top: -3px;
    margin-top: 20px;
    transform: scale(2);
    vertical-align: bottom;
  }
}


.btn {
  width: 410px;
  margin: 30px auto 40px;
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    &:hover {
      background: #000;
      color: #fff;
      transition: all 0.2s;
    }
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 30px;
  }
}

@keyframes fadeOut {
  0% {opacity: 0.8}
  50% {opacity: 0.8}
  100% {opacity: 0}
}

.flash-success {
  z-index: 10000;
  position: fixed;
  width: 400px;
  padding: 10px;
  border: 2px solid #763626;
  border-radius: 10px;
  margin: 10px 0 0 150px;
  background: #89DA59;
  color: #763626;
  font-size: 2rem;
  text-align: center;
  opacity: 0;
  animation: fadeOut 3s ease 2s 1 normal;
}

.flash-notice {
  z-index: 10000;
  position: fixed;
  width: 400px;
  padding: 10px;
  border: 2px solid #763626;
  border-radius: 10px;
  margin: 10px 0 0 390px;
  background: #89DA59;
  color: #763626;
  font-size: 2rem;
  text-align: center;
  opacity: 0;
  animation: fadeOut 3s ease 2s 1 normal;
}

.flash-danger {
  padding: 10px;
  text-align: center;
  color: red;
}

.profile-setting {
  position: relative;
  h2 {
    padding: 30px;
    border-bottom: 1px solid #ddd;
    font-size: 2rem;
    a {
      margin-right: 100px;
    }
  }
  .profile-header {
    margin-bottom: 100px;
    text-align: center;
    label {
      position: absolute;
      top: 100px;
      right: 20px;
      width: 120px;
      padding: 5px;
      border: 1px solid #000;
      border-radius: 10px;
      background: #fff;
      cursor: pointer;
    }
    input {
      display: none;
    }

  }
  .profile-icon {
    top: 320px;
    text-align: center;
    label {
      position: absolute;
      bottom: -30px;
      right: 0;
      width: 120px;
      padding: 5px;
      border: 1px solid #000;
      border-radius: 10px;
      background: #fff;
      cursor: pointer;
    }
    input {
      display: none;
    }
  }
  .form-box {
    width: 80%;
    textarea {
      height: 100px;
    }
  }
}
.hidden {
  display: none;
}
