<% unless controller_name == "top_pages" && action_name == "home" || \
          controller_name == "users" && action_name == "new" || \
          controller_name == "users" && action_name == "create" || \
          controller_name == "sessions" && action_name == "new" || \
          controller_name == "sessions" && action_name == "create" %>
  <aside class="posting-list">
    <div class="inner">
      aaaa
    </div>
  </aside>
<% end %>
